table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    background-color: #60ddc2;
      }

  h1{
      color: blue;
      text-align: center;
  }

  fieldset{
    width: 10%;
  }